.email {
    background-color: #AD2931;
    color: white;
}
.email_inner img{ 
    padding: 10px;
    height: auto;
    width: 100%;
}
.email__inner {
    width: 50%;
    margin: 0em auto;
    padding: 1em 0em;
}

.fish {
    width: 100%;
    padding: 10px 0;
}

.email__inner > h2 {
    font-weight: normal;
    margin: 0em 0em;
    
}
.email__inner > form > input {
    width: 50%;
    margin: 10px;
}
