.footer {
    width: 100%;
    display: flex;
    height: auto;
    background-color: black;
    position: fixed;
    bottom: 0;
    color: white;
}
h1.footer__third__temp {
    padding: 8px 30px 8px 0px;
    margin: 0em 0em;
    font-size: 10px;
    text-align: right;
}

.footer__first__img {
    height: 30px;
}

.footer__second_ul {
    margin: 0px 0px;
    display: none;
}

.footer__first {
    width: 20%;
}

.footer__second {
    width: 0%;
}

.footer__third {
    width: 80%
}