.header {
    width: auto;
    display: flex;
    height: auto;
    padding: 8px 16px;
}

h1.header__third__temp {
    margin: 0em 0em;
    font-size: 24px;
    text-align: right;
}

.header > div {
    width: 33.3%;
    align-self: center;
}

.header__first__img {
    height: 30px;
}

.header__second_ul {
    margin: 0px 0px;
    display: flex;
    list-style: none;
}