.presentation {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 6em;
    background-color: #AD2931;
}

.department__anal > img {

    width: 60%; 
    margin: 0 auto; 
}
element {
    --awarego-red: #AD2931;
    --awarego-white: #FDFDFC;
    --awarego-logo: url(awarego_logo.png);
    --awarego-font: 'Nunito Sans' sans-serif;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

p::first-line {
    font-weight: bold;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
h1{
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}
.bodymain {
    width: 60%;
    margin: 0em auto;
}

.departments{
    padding-top: 1em;
}

.department {
    margin: 2em 0 3em 0;
    flex-wrap: wrap;
}
.department > h1 {
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 1em;
}

.department__anal > h2 {
    margin: 8px 0px;
}

.data_info{
    margin: 1em 0 1em 0;
    padding: 3em;
    text-align: center;
    background-color: rgb(86, 87, 94);
}

.data_info > h1 {
    color: white;
    margin: 0 20px;
}

#cpInfo {

    display: none;
    width: 100%;
    flex-wrap: wrap;
}
.department__player > p {
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0, 0.4);
    background-color: white;
    margin: 1.2em;
    padding: 1em;
}
.department__anal {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    align-content: center;
}
.department__header {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
.department__header > button {
    border-color: transparent;
    width: 100%;
    margin: 0 auto;
    padding: 0em;
    height: 4em;
    background: #AD2931;
    font-size: 1.3em;
}

.cpInfoDisplay {
    display: flex;
    flex-wrap: wrap;
}
#info {
    border-radius: 10px;
    height: 4em;
    border: 2px solid #CB4950;
    background-color: white;
}
.data_info > img {
    width: 60%;
    margin: 16px auto;
}

.movie {
    width: 60%;
    margin: 16px auto;
}

#video {
    padding: 3em 0;
    background-color: white;
    margin-top: 0;
}

#video > h2{ 
    
    font-size: 2em;
}

.section {
        background-color: #F2F2F2;
        padding-bottom: 2em;
}