.presentation {
    width: 100%;
    margin-top: 50px;
}

element {
    --awarego-red: #AD2931;
    --awarego-white: #FDFDFC;
    --awarego-logo: url(awarego_logo.png);
    --awarego-font: 'Nunito Sans' sans-serif;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

p::first-line {
    font-weight: bold;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.bodymain {
    width: 80%;
    margin: 0em auto;
}

.company {
    display: flex;
    flex-wrap: wrap;
    border: solid black 2px;
    margin-bottom: 1em;
}
.company > h1 {
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 1em;
    border-bottom: solid black 2px; 
}


.data_info{
    margin: 4em 0 1em 0;
    padding: 3em;
    text-align: center;
    background-color: #CB4950;
}

.data_info > h1 {
    font-size: 4em;
    color: white;
    margin: 0 20px;
}

#cpInfo {
    display: none;
    width: 100%;
    flex-wrap: wrap;
}
.company__player > p {
    background-color: #CB4950;
    color: white;
    margin: 1.2em;
    padding: 1em;
}
.company__anal {
    width: 100%;
    padding: 2em;
}
.company__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    width: 100%;
    margin: 0 auto;
    background: #AD2931;
    border-bottom: solid black 2px;
}
.company__header > button {
    width: 100%;
    margin: 0 auto;
    padding: 0em;
    height: 4em;
    border: none;
    background: #AD2931;
    font-size: 1.3em;
}
}
.cpInfoDisplay {
    display: flex;
    flex-wrap: wrap;
}
#info {
    height: 4em;
}